
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cowboy Cafe</h1>
    <p class="m-3">
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
        Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
        Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
        You’ve had a hard ride - so take it easy with us.
    </p>
</div>

<div class="text-center">

    <form class="flex-column border m-2">

        <h2 class="m-2">Menu Search</h2>




        <div class="m-3">
            @foreach (String type in Menu.TypeOfItem)
            {
                <label class="m-1">
                    <input type="checkbox" name="TypeOfItem" value="@type" checked="@Model.TypeOfItem.Contains(type)" />
                    @type
                </label>
            }
        </div>



        <div class="m-2">

            Calories: Between
            <input name="CaloriesMin" type="number" min="0" max="2000" step="0.1" placeholder="min" value="@Model.CaloriesMin" />
            and
            <input name="CaloriesMax" type="number" min="0" max="2000" step="0.1" placeholder="max" value="@Model.CaloriesMax" />
        </div>

        <div class="m-2">
            Price: Between
            <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax" />
        </div>

        <div class="m-3">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </div>


    </form>

</div>

<div class="flex-columns">
    <div>
        <h3>Entrees</h3>
        @{
            foreach (var item in Model.MenuDisplay)
            {
                var myObject = item as Entree;

                if (myObject != null)
                {
                    <div class="menu-item">
                        <h4>@item</h4>
                        Calories: @item.Calories <br />
                        Price: @item.Price.ToString("c") <br />
                    </div>
                }
            }
        }
    </div>
    <div>
        <h3>Sides</h3>
        @{
            foreach (var item in Model.MenuDisplay)
            {
                var myObject = item as Side;

                if (myObject != null)
                {
                    <div class="menu-item">
                        <h4>@item</h4> 
                        Calories: @item.Calories <br />
                        Price: @item.Price.ToString("c") <br />
                    </div>
                }
            }
        }
    </div>
    <div>
        <h3>Drinks</h3>

        <div class="menu-item">
            <h4 class="text-center">Soda Flavors</h4>
            <ul>
                <li>Cream Soda</li>
                <li>Orange Soda</li>
                <li>Sarsparilla</li>
                <li>Birch Beer</li>
                <li>Root Beer</li>
            </ul>
        </div>

        @{
            foreach (var item in Model.MenuDisplay)
            {
                var myObject = item as Drink;

                if (myObject != null)
                {
                    <div class="menu-item">
                        <h4>@item</h4>
                        Calories: @item.Calories <br />
                        Price: @item.Price.ToString("c") <br />
                    </div>
                }
            }
        }
    </div>
</div>


