
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cowboy Cafe</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
        Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
        Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
        You’ve had a hard ride - so take it easy with us.
    </p>
</div>

<div class="text-center">


    <h2>Entrees</h2><br />


    @{

        IEnumerable<IOrderItem> Entrees = Menu.Entrees();

        foreach (var item in Entrees)
        {


            <div class="menu-item">
                <b>@item</b> <br />
                Calories: @item.Calories <br />
                Price: @item.Price.ToString("c")<br /><br />
            </div>


        }
    }

    <h2>Sides</h2><br />

    @{

        IEnumerable<IOrderItem> Sides = Menu.Sides();

        foreach (var item in Sides)
        {

            item.Size = Size.Small;
            <div class="menu-item">
                <b>@item</b><br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c")<br /><br />
            </div>

            item.Size = Size.Medium;
            <div class="menu-item">
                <b>@item</b><br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c")<br /><br />
            </div>

            item.Size = Size.Large;
            <div class="menu-item">
                <b>@item</b><br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c") <br /><br />
            </div>

        }
    }

    <h2>Drinks</h2><br />

    @{

        IEnumerable<IOrderItem> Drinks = Menu.Drinks();

        foreach (var item in Drinks)
        {

            item.Size = Size.Small;
            <div class="menu-item">
                <b>@item</b><br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c")<br /><br />
            </div>

            item.Size = Size.Medium;
            <div class="menu-item">
                <b>@item</b><br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c")<br /><br />
            </div>

            item.Size = Size.Large;
            <div class="menu-item">
                <b>@item</b> <br>
                Calories: @item.Calories <br>
                Price: @item.Price.ToString("c") <br /><br />
            </div>

        }
    }

</div>


